@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

.font {
    font-family: 'Tangerine', cursive ;
    font-weight: 700;
    font-size: 56px;
}

.working{
    border:1px solid white;
    border-bottom: black;
}

.fontStyle{
    font-family: 'Cosmic Sans MZ', cursive;
}
