/* @import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

.font {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 500;
    font-size: 40px;
    color: white;
}

.fontStyle {
    font-family: 'Cosmic Sans MZ', cursive;
}

@media only screen and (max-width: 500px) {
    .mobile {
        height: auto;
        width: 100vw;
    }
    .font {
        font-family: 'Cinzel Decorative', cursive;
        font-weight: 500;
        font-size: 36px;
        color: white;
    }

    .image {
        display: block;
        /* width: 100%; */
        max-width: 100vw;
        height: auto;
    }

    .font {
        width: 100%;
        max-width: 100vw;
    }

    .nav-tabs {
        flex-direction: column;
    }

    .nav-item {
        width: 100%;
    }

    .nav-link {
        width: 100%;
    }
}